node_modules/
.vs/
.env
**/CLEARSIZE
**/.DS_Store
error_log.txt
**/date 
**/error_log.txt 
**/.DS_Store 
assets/counter.json
assets/counter.txt
assets/conversation.json
**/music_queue.json 
notes.txt

#image asset files that might be generated while using the image Magik pipeline
**/.jpg
**/.png 
**/.obj 
**/.gif 
**/.mp4
**/.mp3 
**/.wav
**/.flac
**/.ogg
netscape_cookies.txt




